.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("/src/assets/desktop/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
