.timezone {
  position: absolute;
  top: 41.4rem;
  left: 16.5rem;
  width: 57.5rem;
  height: 28.8rem;

  &-greeting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48.7rem;
    height: 2.8rem;

    img,
    span {
      display: block;
    }
  }
}
